* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ddd;
    --dark: #333;
    --oragne: #ff8c3f;
    --light: #fff
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

body {
    margin: 1rem 1rem;
    background-image: url(sunflower.jpg) ;
    background-size: cover;
    
}

img {max-width: 100%; height: auto;}

.unordered-margin {
    margin-top: 10px;
    margin-left: 30px;
}

.ordered-margin {
    margin-top: 10px;
    margin-left: 30px;
}



.container {
    /* Mobile view */
   display: grid;
   grid-template-columns: 1fr;

   gap: 0.5rem;

   grid-template-areas: 
   "header"
   "nav"
   "left"
   "right"
   "main"
   "footer";
}

.left {
    grid-area: left;
    background-color: lightblue;
    padding: 0.5rem;
    border: 2px solid #000;
    /* height: 100px; */
}

.right {
    grid-area: right;
    background-color: lightcoral;
    padding: 0.5rem;
    border: 2px solid #000;

}

header {
    display: grid;
    justify-items: center;
    grid-area: header;
    /* background-color: rgb(214, 191, 163); */
    background-image: url(sunflower-field.jpg);
    /* height: 200px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 1rem;
    color: white;
    border: 2px solid #000;
}

header h2 {
    text-align: center;
}

.main-nav {
    grid-area: nav;
    background-color: lightgoldenrodyellow;
    border: 2px solid #000;
  
}

.main-nav ul {
    /* Mobile */
    grid-template-columns: 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
}

.main-nav a:hover{
    background: orange;
    color: black;
    font-weight: bold;
}

main {
    grid-area: main;
    background-color: lavender;
    padding: 0.5rem;
    border: 2px solid #000;
}
footer {
    grid-area: footer;
    background-color: lightpink;
    padding: 1rem;
    border: 2px solid #000;
    /* height: 50px; */
}
@media (width > 995px) {


    .container {
        /* Desktop view */
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: max-content auto 1fr 100px;
        gap: 0.5rem;
        min-height: 100vh;
        grid-template-areas:
        
        "header header header header header"
        "nav nav nav nav nav"
        "left main main main right"
        "footer footer footer footer footer";

    }


    .main-nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 0.5rem;
        list-style-type: none;
        
    }

    .main-nav a {
        padding: 1rem;
    }

    .main-nav a:hover{
        background: var(--oragne);
        color: var(--dark);
    }

}